$primary: #E1846D
$secondary: #523D38
$default: #A7A7A7
$gray: #e2e2e2
$success: #00c58e
$white: #fff
$black: #212529

body
  font-family: 'Montserrat', sans-serif
pre
  background-color: $white
a
  cursor: pointer
  color: $secondary
  &:hover
    text-decoration: none
    color: $secondary
.title
  letter-spacing: 3px
  text-transform: uppercase
.pointer
  cursor: pointer
.text-primary
  color: $primary !important
.text-secondary
  color: $secondary !important
.text-secondary
  color: $secondary !important
.text-black
  color: $black !important
.alert-warning
  background-color: #f58b37
  color: #fff
.bg-primary, .btn-primary, .badge-primary
  background-color: $primary !important
  border-color: $primary !important
  color: $white
.bg-secondary, .btn-secondary, .badge-secondary
  background-color: $secondary !important
  border-color: $secondary !important
  color: $white
  &.nuxt-link-exact-active
    background-color: $primary !important
    color: $white !important

a.bg-secondary:focus
  background-color: $secondary !important
  color: $white !important

.bg-default, .btn-default
  background-color: $gray !important
  border-color: $gray !important
  color: $black
.bg-white
  background-color: $white !important
  border-color: $white !important
  color: $black !important
  h5
    color: $primary

.btn-login
  .nav-link
    color: $primary !important
    font-size: 16px
.btn-home
  font-size: 11px
  letter-spacing: 3px
  padding: 15px 30px
  border-radius: 1px
  text-transform: uppercase
  @media (max-width: 768px)
    font-size: 10px
    padding: 5px 10px
    letter-spacing: 1px
    border-radius: 3px
.title

.badge
  padding: 5px 10px
  font-weight: normal
.b-table
  tr > td, tr > th
    vertical-align: middle !important
  thead, tfoot
    background-color: $secondary
    color: $white
.pre-line
  white-space: pre-line

.breadcrumb-wrapper
  background-color: #d1d0d0
  .breadcrumb
    background-color: #d1d0d0
    color: $secondary
    border-radius: 0
    margin: 0
    .breadcrumb-item
      &:not(:first-child)
        &::before
          color: $primary
          content: '\\'
          &:first-child
            display: none
      &.active
        color: $secondary
    a
      color: $secondary
      font-weight: 600
.admin
  .breadcrumb
    background-color: $secondary
    .breadcrumb-item
      &::before
        color: $white
      &.active
        color: $white
    a
      color: $white
      font-weight: 600

.form-group
  margin-bottom: 2rem
  legend
    font-weight: bold
.card
  border: none
  background-color: $primary
  .card-body
    display: flex
    align-items: center
    color: $white

.navbar-toggler
  color: $white !important
  border: 1px solid $white !important
  .navbar-toggler-icon
    color: $white !important

header
  font-family: 'Raleway', sans-serif
  .navbar-brand
    img
      max-height: 50px
      @media (max-width: 768px)
        max-height: 30px

  .navbar
    background: $secondary
    .navbar-nav
      > li
        font-size: 22px
      @media (min-width: 992px)
        > li + li::before
          padding: 0
          color: $white
          content: " \\ "
          margin: 0
          font-size: 11px
      .nav-item
        display: inline-block
        .nav-link
          color: $white
          text-transform: uppercase
          font-size: 11px
          display: inline-block
          letter-spacing: 2px
          padding: 5px 15px
          &.nuxt-link-active
            background-size: 100% 100%
            background-image: url(~assets/img/bg-menu.png)
          &:hover
            color: $white

.sub-header
  height: 10px
  width: 100%
  background-color: #A7A7A7
.header-transparent
  header
    @media (min-width: 992px)
      position: relative
      z-index: 11
      margin-bottom: -106px
      .navbar
        background: transparent
        padding-top: 30px

  .sub-header
    display: none
footer
  margin-top: -1px
  a
    font-weight: 200
  .links
    letter-spacing: 3px
.content
  color: $secondary
  padding-top: 50px
  padding-bottom: 50px
  .card
    color: $black

  .title
    hr
      width: 60px
      height: 2px
      background: $primary
      margin-top: 10px

    h4
      margin-bottom: 0px
      text-align: center

  .page
    .pattern
      width: 15px
      height: 25px
      background-color: $white
      position: absolute
      left: 15px
    .title
      hr
        width: 60px
        height: 2px
        background: $primary
        margin-top: 10px

      h4
        margin-bottom: 0px
        text-align: center
      h3
        color: $white
        font-size: 24px
        font-weight: 700
        text-transform: uppercase
      p
        color: $white
        font-size: 12px
        text-transform: uppercase
        font-weight: normal
        a
          color: $white

.home-banners
  .carousel-inner
    min-height: 300px

  .carousel-caption
    height: 100%
    display: flex
    align-content: center
    align-items: center
    justify-content: center
    flex-flow: column
    margin-bottom: -20px
    left: 0
    right: 0
    h3
      font-size: 36px
      color: $primary
      font-weight: normal
      @media (max-width: 768px)
        font-size: 14px
        margin-top: 50px
    h2
      font-weight: 700
      font-size: 47px
      color: $white
      @media (max-width: 768px)
        font-size: 20px
    p
      @media (max-width: 768px)
        display: none
    .divisor
      bottom: 0
      position: absolute
  .carousel-indicators
    bottom: 10px
    li
      width: 6px
      height: 6px
      background-color: transparent
      border: 1px solid $white
      border-radius: 100%
.banners
  .carousel-inner
    min-height: 300px
  .carousel-caption
    height: 100%
    width: 100%
    position: relative
    left: 0
    background-color: $primary
    padding: 0
    bottom: 0
    h2
      font-weight: 700
      font-size: 26px
      @media (max-width: 768px)
        font-size: 18px
      @media (max-width: 576px)
        font-size: 14px
    p
      @media (max-width: 768px)
        display: none
    .card
      .card-body
        width: 50%
        text-align: left
        padding: 80px
      img
        width: 50%
        border-radius: 0

  .carousel-indicators
    bottom: 10px
    li
      width: 6px
      height: 6px
      background-color: transparent
      border: 1px solid $white
      border-radius: 100%
.admin
  .navbar-light .navbar-nav .nav-link
    color: $white

.ql-video
  width: 80%
  margin: auto
  display: block
  height: 32vw
  @media (max-width: 768px)
    width: 100%
.ql-align-center
  text-align: center
.quill-content
  background-color: $white
  // color: #303030
  p
    margin-bottom: 0
  img
    max-width: 100%

.shop
  color: $secondary
  .btn-cart
    font-size: 1rem
  .card
    background-color: $white
    border: 1px solid $gray
  .search
    input
      border: none
      color: $secondary
      border-bottom: 1px solid $secondary
      border-radius: 0
      padding: 10px 0
      font-size: 16px
      font-weight: bold
      background-image: url("~assets/img/search.svg")
      background-repeat: no-repeat
      background-position: 100%
      background-size: 20px
      padding-right: 22px
      margin-bottom: 10px
      &::placeholder
        color: $secondary
  .products
    .card
      margin-bottom: 30px
      border-radius: 5px
      .card-body
        padding-bottom: 0
        h2
          margin-bottom: 0
          font-size: 16px
          font-weight: 100
          color: #505050
      .card-footer
        background-color: transparent
        border-top: none
  .dropdown
    border-radius: 5px
    background-color: $secondary
    color: $white
    cursor: pointer
    .dropdown-toggle
      color: $white
      text-align: left
      flex: 0 1 auto
      width: 100%
      overflow-x: hidden
      line-height: normal
      padding: 15px
      &:focus
        box-shadow: none
      &::after
        margin-left: 10px
        color: $white
    .dropdown-menu
      min-width: 100%
      border-radius: 5px
      .dropdown-item
        color: $secondary
        &:active
          color: $white
  .product_thumbs
    padding: 10px
    > div
      padding: 5px
    img
      width: 100%
      &.active
        opacity: .5
    @media (max-width: 576px)
      display: none

.add-to-cart
  font-size: 18px
  font-weight: 600
  .cart-actions
    display: inline-block
    margin-bottom: 10px
    .price
      display: inline-block
      margin-right: 5px
      .currency, .decimal
        font-size: 10px
        top: -4px
        position: relative
    .qtd
      width: 70px
      display: inline-block
      margin-right: 5px
      .buttons
        margin: auto
        margin-top: -32px
        font-size: 18px
        font-weight: 200
        .minus
          cursor: pointer
          margin-left: 10px
          width: 18px
        .plus
          float: right
          cursor: pointer
          width: 18px
          display: inline-block
          position: relative
          left: -2px
      input
        border-radius: 15px
        text-align: center
        width: 70px
        color: $secondary
        font-size: 15px
        font-weight: 600
        height: 32px
    .btn
      .b-icon
        font-size: 12px
      img
        width: 18px
    .btn-cart-counter
      display: inline-block
      text-align: center
      font-size: 11px
      font-weight: 400
      background-color: $primary
      color: $white
      border-radius: 3px
      padding: 0 5px
  .info
    p
      font-size: 12px
      font-weight: 200
      margin: 0
  .alert
    font-size: 14px
.form-phones
  .btn
    float: right
  input
    margin-bottom: 10px
.custom-calendar
  $day-border: 1px solid #b8c2cc
  $day-border-highlight: 1px solid #b8c2cc
  $day-width: 90px
  $day-height: 90px
  $weekday-bg: #f8fafc
  $weekday-border: 1px solid #eaeaea
  width: 100% !important
  border-radius: 15px !important
  .vc-grid-container
    border-radius: 15px
  .vc-header
    background-color: $white !important
    padding: 10px 0 !important
  .vc-weekday
    background-color: $weekday-bg
    border-bottom: $weekday-border
    border-top: $weekday-border
    padding: 10px 0
  .vc-day
    padding: 10px
    text-align: left
    height: $day-height
    min-width: $day-width
    background-color: white

    &.weekday-1,
    &.weekday-7
      background-color: #eff8ff
    &:not(.on-bottom)
      border-bottom: $day-border
      &.weekday-1
        border-bottom: $day-border-highlight
    &:not(.on-right)
      border-right: $day-border
    .badge
      white-space: normal
      border-radius: 5px
      margin-top: 2px
      text-align: left
    .flex-grow
      overflow-y: auto
      max-height: 65px
  .vc-day-dots
    margin-bottom: 5px
.share-component
  .button-social
    padding: 3px 10px
    &:hover
      color: #fff
    span[class^="counter-"]
      display: none

.posts-component
  .row
    margin-left: -5px
    margin-right: -5px
    .col-lg-3, .col-sm-6
      padding-left: 5px
      padding-right: 5px
  .card
    height: 100%
    border: none
    color: #2A114B
    background-color: #E1846D
    margin-bottom: 15px
    .img
      max-height: 16vw
      overflow-y: hidden
      @media (max-width: 992px)
        max-height: 14vw
      @media (max-width: 768px)
        max-height: none
